{% extends 'base.html' %}
{% block content %}
<form method="POST" action=""> 
    {{ form.hidden_tag() }}
    <legend>Recovery</legend>
    <fieldset>
        <div class="form-group">
            {{ form.email.label(class='form-label') }}
            {{ form.email(class='form-control') }}
            {% for error in form.email.errors %}
                <span class="text-danger form-text">{{error}}</span>
            {% endfor %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class='btn btn-info') }}
    </div>
</form>
<a href="{{url_for('users.login')}}">Login</a>
{% endblock %}
