{% extends 'base.html' %}
{% block content %}
<form method="POST" action=""> 
    {{ form.hidden_tag() }}
    <legend>Recovery</legend>
    <fieldset>
        <div class="form-group">
            {% form.password.label(class='form-label') %}
            {% form.password(class='form-control') %}
            {% for error in form.error.errors %}
                <span class="text-danger form-text">{{error}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {% form.password_.label(class='form-label') %}
            {% form.password(class='form-control') %}
            {% for error in form.error.errors %}
                <span class="text-danger form-text">{{error}}</span>
            {% endfor %}
        </div>
    </fieldset>
    <div class="form-group">
        {% form.submit(class='btn btn-info') %}
    </div>
</form>
<a href="{{url_for('users.login')}}">Login</a>
{% endblock %}
